.cla1 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  padding: 20px;
  border: 30px solid #ffcc00;
  margin: 40px;
}
.cla2 {
  width: 100px;
  height: 100px;
  background-color: yellow;
  padding: 20px;
  border: 30px solid #ffcc00;
  margin: 40px;
}
